
.radar-chart__container {
    width: 40%;
}

.focused-view {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border: #f7f8fc 2px solid;
}

  .focused-view__flavor-text{
    font-size: xx-large;
    color: var(--text-color);
    margin-top: 7%;
    }
  .focused-view__header {
    display: flex;
    justify-content: space-between;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-background);
    height: 3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 15px;
  } 

  .focused-view__header-name{
    font-size: xx-large;
    color: var(--text-color);
  }

  .focused-view__header-types{
    font-size: larger;
  }

  /*******/
  .focused-view__stats{
    display: flex;
    flex-direction: column;
  }
  .focused-view__stats-single {
    margin: 0.3rem;
    font-size:x-large;
  }

  /*******/



  .focused-view__main-info{
    display: flex;
    align-items: center;
    max-height: 40%;
    justify-items: center;
  }


  .focused-view__img {
    background-image: linear-gradient(to bottom, #f7f8fc 50%, #fefffa 50%);
    display: flex;
    justify-content: center;
    width: 95%;
    height: 21vh;
    border-radius: 10px;
    border: 4px solid #b0cb9d;
    background-blend-mode: normal, difference, normal;
    background-size: 2em 2em;
  }

  .focused-view__img-outmoust-border {
    content: '';
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: #c0b262;
    z-index: 6;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    width: 50%;
    height: 25vh;
  }
  .focused-view__img-inner-border{
    background: #fcf9c9;
    z-index: 7;
    border-radius: 15px;
    display: flex;
    align-items: center;
    width: 97%;
    height: 23.5vh;
    justify-content: center;
  }
  
  /*1200 px is for laptop*/
  @media only screen and (max-width: 1500px) {
    .radar-chart__container {
      display: none;
    }
    .focused-view__img {
      background-image: linear-gradient(to bottom, #f7f8fc 50%, #fefffa 50%);
      display: flex;
      justify-content: center;
      width: 95%;
      height: 21vh;
    }
    .focused-view__main-info{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      min-height: 30%;
    }

    .focused-view__img-outmoust-border {
      content: '';
      top: -10px;
      left: -10px;
      right: -10px;
      bottom: -10px;
      background: #c0b262;
      z-index: 6;
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem;
      width: 100%;
      height: 25vh;
    }
    .focused-view__img-inner-border{
      background: #fcf9c9;
      z-index: 7;
      border-radius: 15px;
      display: flex;
      align-items: center;
      width: 97%;
      height: 23.5vh;
      justify-content: center;
    }
  }
  