@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=VT323&display=swap');

:root {
    --main-logo-yellow: #ffcb05;
    --main-logo-light-blue: #2a75bb;
    --light-background: #FFFFFF;
    --light-text-color: #000000;
    --type-normal: #A8A878;
  
    /* Fire */
    --type-fire: #F08030;
    
    /* Water */
    --type-water: #6890F0;
    
    /* Electric */
    --type-electric: #F8D030;
    
    /* Grass */
    --type-grass: #78C850;
    
    /* Ice */
    --type-ice: #98D8D8;
    
    /* Fighting */
    --type-fighting: #C03028;
    
    /* Poison */
    --type-poison: #A040A0;
    
    /* Ground */
    --type-ground: #E0C068;
    
    /* Flying */
    --type-flying: #A890F0;
    
    /* Psychic */
    --type-psychic: #F85888;
    
    /* Bug */
    --type-bug: #A8B820;
    
    /* Rock */
    --type-rock: #B8A038;
    
    /* Ghost */
    --type-ghost: #705898;
    
    /* Dragon */
    --type-dragon: #7038F8;
    
    /* Dark */
    --type-dark: #705848;
    
    /* Steel */
    --type-steel: #B8B8D0;
    
    /* Fairy */
    --type-fairy: #EE99AC;

}

#root {
    padding: 0.5rem;
    font-family: 'Roboto', sans-serif;
    font-family: 'VT323', monospace;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.main-header__title {
    font-family: 'Pokemon', sans-serif;
    font-weight:lighter;
    color: var(--main-logo-yellow);
    text-shadow:
    -0.09rem -0.1rem 0 var(--main-logo-light-blue),  
    0.22rem -0.13rem 0 var(--main-logo-light-blue),
    -0.21rem 0.23rem 0 var(--main-logo-light-blue),
    0.16rem 0.23rem 0 var(--main-logo-light-blue);                                  
}

.main-header__button{
    color: var(--light-text-color); 
    border: none;
    background: none;
}

.main-header__button svg {
    margin-right: 0.5rem; /* Adjust the value as needed */
}

.main-header__button:hover {
    cursor: pointer;
    background-color: var(--main-logo-light-blue);
}

.filter-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 2rem;
}

.filter-box__dropdown {
    font-family: Arial, Helvetica, sans-serif;
}



.filter-box__input-box {
    position: relative;
    display: flex;
    align-items: center;
}

.filter-box__input__search-icon {
    position: absolute;
    left: 0.4rem;
    color: #aaa;
}

.filter-box__input-box__input {
    padding: 8px 16px;
    padding-left: 2rem;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 25rem;
    height: 1.5rem;
}

.filter-box__input-box__input:hover,
.filter-box__input-box__input:focus {
    border-color: var(--main-logo-light-blue);
    outline: none;
}

.card-display__card-holder {
    min-height: fit-content;
    margin: 2rem;
    border:1px solid black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card {
    border:1px solid black;
    height: 20rem;
    width: 15rem;
    margin: 2rem;
    display: inline-flexbox;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    flex-direction: column;
    border-radius: 5px;

    background-position: 0px 0px, 10px 10px;
    background-size: 20px 20px;
    background-image: 
    linear-gradient(45deg, #b9eeb3 25%, transparent 25%, transparent 75%, #b9eeb3 75%, #b9eeb3 100%),
    linear-gradient(45deg, #b9eeb3 25%, #c6fdbf 25%, #c6fdbf 75%, #b9eeb3 75%, #b9eeb3 100%);
}
.card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__header__name {
    font-size:x-large
}

.card__img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #808080;
}

.card__header__types{
    display: flex;
}

.water,
.fire,
.electric,
.grass,
.ice,
.fighting,
.poison,
.ground,
.flying,
.psychic,
.bug,
.rock,
.ghost,
.dragon,
.dark,
.steel,
.fairy,
.normal {
    border:1px solid black;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: larger;
}

.water {
    background-color: var(--type-water);
}
.fire {
    background-color: var(--type-fire);
  }
  
  .electric {
    background-color: var(--type-electric);
  }
  
  .grass {
    background-color: var(--type-grass);
  }
  
  .ice {
    background-color: var(--type-ice);
  }
  
  .fighting {
    background-color: var(--type-fighting);
  }
  
  .poison {
    background-color: var(--type-poison);
  }
  
  .ground {
    background-color: var(--type-ground);
  }
  
  .flying {
    background-color: var(--type-flying);
  }
  
  .psychic {
    background-color: var(--type-psychic);
  }
  
  .bug {
    background-color: var(--type-bug);
  }
  
  .rock {
    background-color: var(--type-rock);
  }
  
  .ghost {
    background-color: var(--type-ghost);
  }
  
  .dragon {
    background-color: var(--type-dragon);
  }
  
  .dark {
    background-color: var(--type-dark);
  }
  
  .steel {
    background-color: var(--type-steel);
  }
  
  .fairy {
    background-color: var(--type-fairy);
  }

  .normal {
    background-color: var(--type-normal);
  }